body{
    font-family: sans-serif;
}

.gridcontainer{
    margin: auto;
    /* padding-top: 0px;; */
    margin-top:30px;
    width: 960px;
    height: 500px;
    

}

.row{
    display: flex;
    gap:3px;
    margin-top: 3px;
}

.grid{
    
    background-color: lightgray;
    width: 1px;
    padding: 1rem 0;
    flex:1;
    /* transition: background-color 0.3s ease; */ /* move over smoothly */
}


.buttoncontainer{
    display: flex;
    justify-content: center;

}
.button{
    background-color: #ffd0d7;
    color: black;
    padding: 5px;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 4cqw;
    font-size: 15px;
}


.main{
    /* display: flex; */
    margin-top: 40px;
}




